*,
* ::after,
* ::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #742305;
  /* background-color: black; */
}
h3 {
  font-weight: 800;
}
#cardExtralarge {
    display: none;
}
/* Css della navbar */
nav {
  background-color: #fbf7e3;
  border-radius: 65px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: max-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-inline: auto;
  align-items: center;
}
.buttonNav {
  background-color: #f3df85;
  border: none;
  border-radius: 20px;
  padding-inline: 0.9rem;
  padding-block: 0.5rem;
  color: #612406;
  font-size: 1rem;
  font-weight: 700;
}
.buttonNav img {
  width: 1.3rem;
}
.SHOP {
  border-radius: 80px;
  font-size: 1.6rem;
  font-weight: 900;
}
/* Css della Card */
.card {
  background-color: #fbf7e3;
  width: 47%;
  border-radius: 65px;
  padding-bottom: 0.5rem;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}
.card div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.card p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #612406;
  text-align: center;
}
.card div span {
  font-size: 0.85rem;
}
.card button {
  background-color: #f3df85;
  border: none;
  border-radius: 20px;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  display: block;
  margin-inline: auto;
}

/* Css Article */
article {
  background-color: #fbf7e3;
  color: #612406;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 1rem;
}
article img {
  width: 50%;
}

/* css del layout */
.containerCards {
  display: flex;
  gap: 20px;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 900;
}

@media screen and (min-width: 576px) {
  .containerCards {
    flex-wrap: wrap;
  }
  article {
    display: flex;
    flex-direction: column-reverse;
  }

  article img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 0%;
  }
  .buttonNav {
    padding-block: 2.5rem;
    border-radius: 50px;
    font-size: 1rem;
  }
  .SHOP {
    order: -1;
    font-size: 1.1rem;
  }
  body {
    display: flex;
    margin: 0;
    gap: 15px;
  }
}

@media screen and (min-width: 992px) {
.card {
    width: 23%;
}
main {
    margin-right: 1rem
}
}

@media screen and (min-width: 1200px) {
    .card {
        width: 18%;
    }
    #cardExtralarge {
        display: unset;
    }
    article {
      flex-direction: row;
      gap: 10px;
    }
}

@media screen and (max-width: 575px) {
  .containerCards {
    flex-direction: column;
    justify-content: center;
  }
}